<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Места работы</title>
</head>
<body>
    <h1>Компании</h1>
    <form id="placeForm">
        <label for="company">Место работы</label>
        <input type="text" id="company" required>
        <label for="term">Время работы (годы)</label>
        <input type="integer" id="term" required>
        <button type="submit">Отправить</button>
    </form>
    
    <form id="deleteForm">
        <button type="delete">Очистить список</button>
    </form>

    <ul id="placeList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>